@model FossLock.Web.ViewModels.ProductFeatureViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create A Feature</h2>
<h3>@Model.ProductName</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true);

        <ul>
            <li>
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </li>
            <li>
                @Html.LabelFor(model => model.Description)
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </li>
            <li>
                @Html.LabelFor(model => model.MaxAllowed)
                @Html.EditorFor(model => model.MaxAllowed)
                @Html.ValidationMessageFor(model => model.MaxAllowed)
            </li>
        </ul>
    </div>

    <input type="submit" value="Create" />
}

<div>
    @Html.ActionLink("Back to Product", "Edit", new { controller = "Product", id = Model.ProductId })
</div>
