@model FossLock.Web.ViewModels.ProductVersionViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit A Version</h2>
<h3>@Model.ProductName</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id);

    <div>
        @Html.ValidationSummary(true);

        <ul>
            <li>
                @Html.LabelFor(model => model.Major)
                @Html.EditorFor(model => model.Major)
                @Html.ValidationMessageFor(model => model.Major)
            </li>
            <li>
                @Html.LabelFor(model => model.Minor)
                @Html.EditorFor(model => model.Minor)
                @Html.ValidationMessageFor(model => model.Minor)
            </li>
            <li>
                @Html.LabelFor(model => model.Build)
                @Html.EditorFor(model => model.Build)
                @Html.ValidationMessageFor(model => model.Build)
            </li>
            <li>
                @Html.LabelFor(model => model.Patch)
                @Html.EditorFor(model => model.Patch)
                @Html.ValidationMessageFor(model => model.Patch)
            </li>
        </ul>
    </div>

    <input type="submit" value="Save" />
}

<div>
    @Html.ActionLink("Back to Product", "Edit", new { controller = "Product", id = Model.ProductId })
</div>
