@model FossLock.Web.ViewModels.LicenseViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit A Feature</h2>
<h3>@Model.ProductName</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CustomerId)
    @Html.HiddenFor(m => m.ProductVersionId)

    <div>
        @Html.ValidationSummary(true);

        <ul>
            <li>
                @Html.LabelFor(m => m.GenerationDateTime)
                @Html.EditorFor(m => m.GenerationDateTime)
                @Html.ValidationMessageFor(m => m.GenerationDateTime)
            </li>
            <li>
                @Html.LabelFor(m => m.Notes)
                @Html.EditorFor(m => m.Notes)
                @Html.ValidationMessageFor(m => m.Notes)
            </li>
            <li>
                @Html.LabelFor(model => model.MaxAllowed)
                @Html.EditorFor(model => model.MaxAllowed)
                @Html.ValidationMessageFor(model => model.MaxAllowed)
            </li>
        </ul>
    </div>

    <input type="submit" value="Save" />
}

<div>
    @Html.ActionLink("Back to Product", "Edit", new { controller = "Product", id = Model.ProductId })
</div>
