@model FossLock.Web.ViewModels.ProductViewModel
@using System.Web.Mvc.Html
@using System.Web.Mvc
@using FossLock.Core
@using System.Linq

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h3>Product</h3>
        <hr />
        @Html.ValidationSummary(true)

        <h4>Basics</h4>
        <ul>

            <li>
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </li>
            <li>
                @Html.LabelFor(model => model.ReleaseDate)
                @Html.EditorFor(model => model.ReleaseDate)
                @Html.ValidationMessageFor(model => model.ReleaseDate)
            </li>
            <li>
                @Html.LabelFor(model => model.Notes)
                @Html.EditorFor(model => model.Notes)
                @Html.ValidationMessageFor(model => model.Notes)
            </li>
        </ul>

        <h4>License/Security</h4>
        <ul>
            <li>
                @Html.LabelFor(model => model.SelectedDefaultLockProperties)
                @Html.ListBoxFor(model => model.SelectedDefaultLockProperties, Model.AllLockProperties)
                @Html.ValidationMessageFor(model => model.SelectedDefaultLockProperties)
            </li>

            <li>
                @Html.LabelFor(model => model.FailOnNullHardwareIdentifier)
                @Html.CheckBoxFor(model => model.FailOnNullHardwareIdentifier)
                @Html.ValidationMessageFor(model => model.FailOnNullHardwareIdentifier)
            </li>

            <li>
                @Html.LabelFor(model => model.PermittedActivationTypes)
                @Html.ListBoxFor(model => model.PermittedActivationTypes, Model.AllActivationTypes)
                @Html.ValidationMessageFor(model => model.PermittedActivationTypes)
            </li>

            <li>
                @Html.LabelFor(model => model.VersionLeeway)
                @Html.DropDownListFor(model => model.VersionLeeway, Model.AllLeewayTypes)
                @Html.ValidationMessageFor(model => model.VersionLeeway)
            </li>
        </ul>
    </div>

    <input type="submit" value="Create" />

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
