@model FossLock.Model.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultLockProperties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultLockProperties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FailOnNullHardwareIdentifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FailOnNullHardwareIdentifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermittedActivationTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermittedActivationTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermittedExpirationTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermittedExpirationTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaximumTrialDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaximumTrialDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VersioningStyle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VersioningStyle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VersionLeeway)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VersionLeeway)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
