@model FossLock.Web.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id);

    <div>
        <h3>Product</h3>
        <hr />
        @Html.ValidationSummary(true)

        <h4>Basics</h4>
        <ul>

            <li>
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </li>
            <li>
                @Html.LabelFor(model => model.ReleaseDate)
                @Html.EditorFor(model => model.ReleaseDate)
                @Html.ValidationMessageFor(model => model.ReleaseDate)
            </li>
            <li>
                @Html.LabelFor(model => model.Notes)
                @Html.EditorFor(model => model.Notes)
                @Html.ValidationMessageFor(model => model.Notes)
            </li>
        </ul>

        <h4>License/Security</h4>
        <ul>
            <li>
                @Html.LabelFor(model => model.SelectedDefaultLockProperties)
                @Html.ListBoxFor(model => model.SelectedDefaultLockProperties, Model.AllLockProperties)
                @Html.ValidationMessageFor(model => model.SelectedDefaultLockProperties)
            </li>

            <li>
                @Html.LabelFor(model => model.FailOnNullHardwareIdentifier)
                @Html.CheckBoxFor(model => model.FailOnNullHardwareIdentifier)
                @Html.ValidationMessageFor(model => model.FailOnNullHardwareIdentifier)
            </li>

            <li>
                @Html.LabelFor(model => model.PermittedActivationTypes)
                @Html.ListBoxFor(model => model.PermittedActivationTypes, Model.AllActivationTypes)
                @Html.ValidationMessageFor(model => model.PermittedActivationTypes)
            </li>

            <li>
                @Html.LabelFor(model => model.VersionLeeway)
                @Html.DropDownListFor(model => model.VersionLeeway, Model.AllLeewayTypes)
                @Html.ValidationMessageFor(model => model.VersionLeeway)
            </li>
        </ul>

        <h4>Versions</h4>
        @Html.ActionLink("New", "Create", new { controller = "ProductVersion", productId = Model.Id })
        <ul>
            @foreach (var version in Model.Versions)
            {
                <li>
                    @version.Version |
                    @Html.ActionLink("Edit", "Edit", new { controller = "ProductVersion", productId = version.Product.Id, versionId = version.Id })
                    @Html.ActionLink("Delete", "Delete", new { controller = "ProductVersion", productId = version.Product.Id, versionId = version.Id })
                </li>
            }
        </ul>

        <h4>Features</h4>
        @Html.ActionLink("New", "Create", new { controller = "ProductFeature", productId = Model.Id })
        <ul>
            @foreach (var feature in Model.Features)
            {
                <li>
                    @feature.Name | @feature.Description |
                    @Html.ActionLink("Edit", "Edit", new { controller = "ProductFeature", productId = feature.Product.Id, featureId = feature.Id })
                    @Html.ActionLink("Delete", "Delete", new { controller = "ProductFeature", productId = feature.Product.Id, featureId = feature.Id })
                </li>
            }
        </ul>
    </div>

    <input type="submit" value="Save" />

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
