@model FossLock.Web.ViewModels.CustomerViewModel
@using FossLock.Web.ViewModels.Helpers

@{
    ViewBag.Title = "New Customer";
}

<div>
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "back-button" })
</div>

<h2>Create Customer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.ValidationSummary(true)

        <ul>
            <li>
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </li>
            <li>
                @Html.LabelFor(model => model.OfficePhone1)
                @Html.EditorFor(model => model.OfficePhone1)
                @Html.ValidationMessageFor(model => model.OfficePhone1)
            </li>
            <li>
                @Html.LabelFor(model => model.OfficePhone2)
                @Html.EditorFor(model => model.OfficePhone2)
                @Html.ValidationMessageFor(model => model.OfficePhone2)
            </li>
            <li>
                @Html.LabelFor(model => model.OfficeFax)
                @Html.EditorFor(model => model.OfficeFax)
                @Html.ValidationMessageFor(model => model.OfficeFax)
            </li>
            <li>
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </li>
            <li>
                @Html.LabelFor(model => model.Notes)
                @Html.EditorFor(model => model.Notes)
                @Html.ValidationMessageFor(model => model.Notes)
            </li>
        </ul>

        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#primary-contact" role="tab" data-toggle="tab">Primary Contact</a></li>
            <li><a href="#street-address" role="tab" data-toggle="tab">Street Address</a></li>
            <li><a href="#billing-address" role="tab" data-toggle="tab">Billing Address</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="primary-contact">
                @Html.EditorFor(model => model.PrimaryContact)
                @Html.ValidationMessageFor(model => model.PrimaryContact)
            </div>
            <div class="tab-pane" id="street-address">
                @Html.EditorFor(model => model.StreetAddress)
                @Html.ValidationMessageFor(model => model.StreetAddress)

                @Html.DropDownListFor(m => m.StreetAddress.Country, LocaleViewModel.CountriesSelectList)
            </div>
            <div class="tab-pane" id="billing-address">
                <ul>
                    <li>
                        @Html.EditorFor(model => model.BillingMatchesStreetAddress)
                        @Html.LabelFor(model => model.BillingMatchesStreetAddress)
                        @Html.ValidationMessageFor(model => model.BillingMatchesStreetAddress)
                    </li>
                    <li>
                        @Html.EditorFor(model => model.BillingAddress)
                        @Html.ValidationMessageFor(model => model.BillingAddress)
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <input type="submit" value="Create" />

}