@model IEnumerable<FossLock.Web.ViewModels.CustomerViewModel>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers @Html.ActionLink("New", "Create")</h2>

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.OfficePhone1)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink(item.Name, "Edit", new { id = item.Id })</td>
            <td>@item.OfficePhone1</td>
            <td>@item.Email</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
        </tr>
    }
</table>
